<div class="container">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h4 class="card-title">Leave Review</h4>
    </div>
            <%= form_for([@product, @product.comments.build]) do |f| %>
        <div class="modal-body p-5 pt-0">
        <form class="">
            <div class="form-floating mb-3">
            <%= f.text_field :title, class: 'form-control'%> 
            <label for="floatingInput" style="opacity: 0.2;">Commenting as <%= current_user.email%></label>
            </div>
            <%= f.submit  data: { turbo: "false" }, class: ' btn btn-dark '%>
        </form>
        <% end %>
        </div>
    </div>
</div>